.banner-base img {
  max-width: 100%;
  height: auto;
}

.pstr-img img {
  max-width: 100%;
  height: auto;
}
.pstr-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.pstr-title-header,
.pstr-title-sub,
.pstr-title-a-a {
  margin: 15px 0;
  text-align: center;
  font-family: "Jost", sans-serif;
}
.pstr-title-header {
  font-weight: 700;
}
.pstr-title-sub {
  font-weight: 300;
  font-size: 12px;
}
.pstr-title-line {
  display: flex;
  justify-content: center;
}
.pstr-title-line::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  background-color: #000;
}
.pstr-title-a {
  display: flex;
  justify-content: center;
}
.pstr-title-a-a,
.pstr-title-a-a:hover {
  font-weight: 700;
  width: 150px;
  padding: 10px;
  color: #fff;
  background-color: #000;
}
.cat-base {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
}
.cat-item {
  position: relative;
  text-align: center;
  color: #fff;
}
.cat-item img {
  max-width: 100%;
  height: auto;
}
.cat-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.product-carousel-base {
  display: none;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .cat-base {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
  }

  .product-card-base {
    display: none;
  }
  .product-carousel-base {
    display: block;
  }
}
