/*google font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*local font*/
@font-face {
  font-family: "oak-bold";
  src: url("/assets/fonts/oak-bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #111;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
/*header*/
nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 60px;
}
.nav-logo {
  font-size: 1.2em;
  color: #fff;
}
.nav-bttn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bttn a {
  font-weight: 400;
  color: #fff;
}
.nav-bttnitem {
  display: none;
}
.nav-bttn .line {
  margin: 0 20px;
  height: 1.2em;
  border: 1px solid;
  color: #fff;
}
.nav-sbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  position: absolute;
  z-index: 9999;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  right: -100%;
  background: #000000a3;
}
.sidebar-close {
  width: 50%;
  height: 100%;
}
.sidebar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 100%;
  background: #191919;
  transition: 0.5s;
}
.sidebar-bttn {
  text-align: center;
}
.sidebar-bttn li {
  list-style: none;
  display: block;
  margin: 10px 0;
  overflow: hidden;
}
.sidebar-bttn a {
  position: relative;
  color: #fff;
}
.sidebar-bttn a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
.sidebar-bttn a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
/*content*/
article {
  padding: 60px;
  color: #fff;
}
/*banner*/
.content-banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top, #111, transparent);
}
.banner-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.banner-text {
  position: relative;
  text-align: center;
  z-index: 1;
}
.banner-text h2 {
  font-size: 2em;
}
.banner-text p {
  font-size: 1em;
}
.banner-bttn {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  background: #fff;
  color: #333;
  border-radius: 2px;
  font-size: 0.8rem;
}
/*main*/
.content-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-imgbx {
  position: relative;
}
.main-img {
  width: 768px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.8;
}
.main-text {
  position: relative;
}
.main-text h2 {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.main-text p {
  font-size: 0.8em;
}
.main-bttn {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  border: 2px solid;
  color: #fff;
  border-radius: 2px;
  font-size: 0.8rem;
}
/*break*/
.content-break {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-break::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top, #111, transparent);
}
.content-break::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to bottom, #111, transparent);
}
.break-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
/*more*/
.content-more {
  text-align: center;
}
.more-htext h2 {
  text-align: center;
  font-size: 1.2em;
}
.more-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.more-listbx {
  position: relative;
  min-width: 280px;
  background: #191919;
  margin: 10px;
  transition: 0.25s;
}
.more-list:hover .more-listbx {
  opacity: 0.2;
}
.more-list .more-listbx:hover {
  opacity: 1;
}
.more-imgbx {
  position: relative;
  width: 100%;
  height: 300px;
}
.more-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.more-text {
  width: 100%;
  padding: 10px 0;
}
.more-text h2 {
  font-size: 1em;
}
.more-text p {
  font-size: 0.5em;
  opacity: 0.5;
}
.more-bttn {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding: 5px 20px;
  border: 2px solid;
  color: #fff;
  border-radius: 2px;
  font-size: 0.8rem;
}
/*aside*/
/*profile*/
.aside-profile {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.profile-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #191919;
  border-radius: 10px;
  padding: 20px;
}
.profile-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.profile-img img {
  width: 200px;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}
.profile-bio {
  color: #fff;
  text-align: center;
}
.profile-bio h2 {
  font-size: 1.2em;
}
.profile-bio p {
  font-size: 0.8em;
  opacity: 0.5;
}
.profile-bio span {
  margin: 0 10px;
  height: 0.8em;
  border: 1px solid;
  color: #fff;
}
/*footer*/
footer {
  display: block;
  padding: 0 60px;
  width: 100%;
  background-color: #0f0f0f;
}
.footer-socmed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.foot-socmed-a {
  display: flex;
  margin: 5px;
  font-size: 1.5em;
  color: #e0e0e0;
  opacity: 0.5;
}
.foot-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  border-top: 1px solid #191919;
  color: #e0e0e0;
  font-size: 0.8em;
  opacity: 0.5;
}

/*responsive*/
/*tablet*/
@media only screen and (min-width: 600px) {
  nav {
    padding: 20px 80px;
  }
  .nav-bttnitem {
    display: inline;
  }
  .nav-sbar {
    display: none;
  }
  /*content*/
  article {
    padding: 80px;
  }
  /*banner*/
  .banner-text h2 {
    font-size: 2.5em;
  }
  .banner-text p {
    font-size: 1.05em;
  }
  .banner-bttn {
    margin-top: 20px;
    padding: 9px 25px;
    border-radius: 2px;
    font-size: 0.9rem;
  }
  /*main*/
  .main-text h2 {
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 10px;
  }
  .main-text p {
    font-size: 0.9em;
  }
  .main-bttn {
    margin-top: 20px;
    padding: 9px 25px;
    border-radius: 2px;
    font-size: 0.9rem;
  }
  /*more*/
  .more-htext h2 {
    font-size: 1.6em;
  }
  .more-text h2 {
    font-size: 1.15em;
  }
  .more-text p {
    font-size: 0.65em;
  }
  .more-bttn {
    margin-top: 10px;
    padding: 6.5px 25px;
    border-radius: 2px;
    font-size: 0.9rem;
  }
  /*aside*/
  /*profile*/
  .aside-profile {
    padding: 80px;
  }
  .profile-box {
    padding: 40px;
  }
  .profile-bio h2 {
    font-size: 1.6em;
  }
  .profile-bio p {
    font-size: 0.9em;
  }
  .profile-bio span {
    margin: 0 15px;
    height: 0.9em;
  }
  /*footer*/
  footer {
    padding: 0 80px;
  }
}
/*desktop*/
@media only screen and (min-width: 768px) {
  /*header*/
  nav {
    padding: 20px 100px;
  }
  .nav-bttnitem {
    display: inline;
  }
  .nav-sbar {
    display: none;
  }
  /*content*/
  article {
    padding: 100px;
  }
  /*banner*/
  .banner-text h2 {
    font-size: 3em;
  }
  .banner-text p {
    font-size: 1.1em;
  }
  .banner-bttn {
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 2px;
    font-size: 1rem;
  }
  /*main*/
  .main-imgbx {
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 500px;
  }
  .main-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  .main-text {
    min-width: 50%;
    width: 50%;
    padding-left: 40px;
  }
  .main-text h2 {
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 10px;
  }
  .main-text p {
    font-size: 1em;
  }
  .main-bttn {
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 2px;
    font-size: 1rem;
  }
  /*more*/
  .more-htext h2 {
    font-size: 2em;
  }
  .more-text h2 {
    font-size: 1.3em;
  }
  .more-text p {
    font-size: 0.8em;
  }
  .more-bttn {
    margin-top: 10px;
    padding: 8px 30px;
    border-radius: 2px;
    font-size: 1rem;
  }
  /*aside*/
  /*profile*/
  .aside-profile {
    padding: 100px;
  }
  .profile-box {
    padding: 60px;
  }
  .profile-bio h2 {
    font-size: 2em;
  }
  .profile-bio p {
    font-size: 1em;
  }
  .profile-bio span {
    margin: 0 20px;
    height: 1em;
  }
  /*footer*/
  footer {
    padding: 0 100px;
  }
}
